Calc.class
Calc$Operation.class
.classpath
.project
.settings/org.eclipse.jdt.apt.core.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
target/*
target/calc-0.1.0.jar
target/classes/com/github/mehrabrahman/calc/math/Operation.class
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
history.txt
